/* Extras & Custom */
/* .bg-color-1-on-hover:hover,
.bg-color-1 {background: var(--color1);}
.bg-color-2-on-hover:hover,
.bg-color-2 {background: var(--color2);}
.bg-color-3-on-hover:hover,
.bg-color-3 {background: var(--color3);}
.color-1-on-hover:hover,
.color-1 {color: var(--color1);fill: var(--color1);}
.color-2-on-hover:hover,
.color-2 {color: var(--color2);fill: var(--color2);}
.color-3-on-hover:hover,
.color-3 {color: var(--color3);fill: var(--color3);} */

.border-light {border-color:#ddd}
.border-dark {border-color:#555}

.drag {-webkit-app-region: drag;}
.no-drag {-webkit-app-region: no-drag;}

/* Font Sizes */

.text-xs	{font-size: .75rem;}
.text-sm	{font-size: .875rem;}
.text-base	{font-size: 1rem;}
.text-lg	{font-size: 1.125rem;}
.text-xl	{font-size: 1.25rem;}
.text-2xl	{font-size: 1.5rem;}
.text-3xl	{font-size: 1.875rem;}
.text-4xl	{font-size: 2.25rem;}
.text-5xl	{font-size: 3rem;}
.text-6xl	{font-size: 3.75rem;}
.text-7xl	{font-size: 4.5rem;}
.text-8xl	{font-size: 6rem;}
.text-9xl	{font-size: 8rem;}

.font-normal	{font-weight: 400;}
.font-bold	{font-weight: 700;}

.whitespace-pre-wrap	{white-space: pre-wrap;}
.whitespace-nowrap	{white-space: nowrap;}

.align-middle	{vertical-align: middle;}

/* Margin and Padding */

.m-0  {margin:0}
.m-5  {margin:5px;}
.m-10 {margin:10px;}
.m-20 {margin:20px}

.p-0  {padding:0}
.p-5  {padding:5px;}
.p-10 {padding:10px;}
.p-20 {padding:20px}

.mt-0  {margin-top:0}
.mt-5  {margin-top:5px;}
.mt-10 {margin-top:10px;}
.mt-20 {margin-top:20px}

.pt-0  {padding-top:0}
.pt-5  {padding-top:5px;}
.pt-10 {padding-top:10px;}
.pt-20 {padding-top:20px}

.mb-0  {margin-bottom:0}
.mb-5  {margin-bottom:5px;}
.mb-10 {margin-bottom:10px;}
.mb-20 {margin-bottom:20px}

.pb-0  {padding-bottom:0}
.pb-5  {padding-bottom:5px;}
.pb-10 {padding-bottom:10px;}
.pb-20 {padding-bottom:20px}

.ml-0  {margin-left:0}
.ml-5  {margin-left:5px;}
.ml-10 {margin-left:10px;}
.ml-20 {margin-left:20px}

.pl-0  {padding-left:0}
.pl-5  {padding-left:5px;}
.pl-10 {padding-left:10px;}
.pl-20 {padding-left:20px}

.mr-0  {margin-right:0}
.mr-5  {margin-right:5px;}
.mr-10 {margin-right:10px;}
.mr-20 {margin-right:20px}

.pr-0  {padding-right:0}
.pr-5  {padding-right:5px;}
.pr-10 {padding-right:10px;}
.pr-20 {padding-right:20px}


.mx-0  {margin-right:0; margin-left:0;}
.mx-5  {margin-right:5px; margin-left:5px;}
.mx-10 {margin-right:10px; margin-left:10px;}
.mx-20 {margin-right:20px; margin-left:20px;}

.px-0  {padding-right:0; padding-left:0;}
.px-5  {padding-right:5px; padding-left:5px;}
.px-10 {padding-right:10px; padding-left:10px;}
.px-20 {padding-right:20px; padding-left:20px;}


.my-0  {margin-top:0; margin-bottom:0;}
.my-5  {margin-top:5px; margin-bottom:5px;}
.my-10 {margin-top:10px; margin-bottom:10px;}
.my-20 {margin-top:20px; margin-bottom:20px;}
.my-25 {margin-top:25px; margin-bottom:25px;}

.py-0  {padding-top:0; padding-bottom:0;}
.py-5  {padding-top:5px; padding-bottom:5px;}
.py-10 {padding-top:10px; padding-bottom:10px;}
.py-20 {padding-top:20px; padding-bottom:20px;}


.h-80 {height:80px}


.box-border	{box-sizing: border-box;}

.rounded-sm {border-radius:3px;}
.rounded-md	{border-radius: 5px;}
.rounded-full	{border-radius: 9999px;}

.-mx-5{
  margin-left:-5px;
  margin-right:-5px;
}

.opacity-0	{opacity: .0;}
.opacity-25	{opacity: .25;}
.opacity-50	{opacity: .50;}
.opacity-75	{opacity: .75;}
.opacity-100{opacity: 1;}
.opacity-100-on-hover:hover{opacity:1;}


.-mr-20	{margin-right: -20px}
.-ml-15 {margin-left: -15px}
.-ml-14 {margin-left: -14px}
.-ml-10 {margin-left: -10px}

.min-h-30	{min-height: 30px;}

.pl-30{
  padding-left:30px;
}

.pr-6{
  padding-right:6px;
}

.m-auto{margin:auto}
.mt-auto{margin-top:auto}
.ml-auto{margin-left:auto;}
.mx-auto{margin-left:auto; margin-right:auto;}

.w-full {width: 100%;}
.w-half {width:50%}
.h-full {height: 100%;}
.h-half {height: 50%;}
.w-fill {width:-webkit-fill-available};

.max-h-full	{max-height: 100%;}
.max-w-full	{max-width: 100%;}

.max-w-lg	{max-width: 32rem;}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.flex {display: flex;}
.flex-col {flex-direction: column;}
.flex-row	{flex-direction: row;}
.flex-grow	{flex-grow: 1;}
.flex-wrap	{flex-wrap: wrap;}
.flex-1	{flex: 1 1 0%;}

.grid	{display: grid;}
.grid-cols-3	{grid-template-columns: repeat(3, minmax(0, 1fr));}
.grid-rows-2	{grid-template-rows: repeat(2, minmax(0, 1fr));}
.grid-rows-1	{grid-template-rows: repeat(1, minmax(0, 1fr));}
.gap-2	{gap: 0.5rem;}
.gap-4	{gap: 1rem;}
/* .gap-4	{gap: 1rem;} */
.gap-6	{gap: 1.5rem;}

.items-center	{align-items: center;}
.items-end {align-items: flex-end;}
.justify-between	{justify-content: space-between;}
.justify-around	{justify-content: space-around;}
.justify-center {justify-content:center;}
.justify-evenly	{justify-content: space-evenly;}
.justify-start	{justify-content: flex-start;}

.opacity-0	{opacity: 0;}

.invisible	{visibility: hidden;}

.cursor-pointer	{cursor: pointer;}
.cursor-move	{cursor: move;}
.cursor-grab {cursor:grab;}
.cursor-grabbing {	cursor:grabbing;}
.cursor-wait	{cursor: wait;}
.cursor-resize {cursor: se-resize;}

.pointer-events-none	{pointer-events: none;}

.uppercase	{text-transform: uppercase;}

.overflow-auto	{overflow: auto;}
.overflow-hidden	{overflow: hidden;}

.overflow-x-hidden	{overflow-x: hidden;}
.overflow-y-hidden	{overflow-y: hidden;}
.overflow-x-visible	{overflow-x: visible;}
.overflow-y-visible	{overflow-y: visible;}
.overflow-y-auto	{overflow-y: auto;   margin-left: -20px;
  padding-left: 20px;}


.bg-cover	{background-size: cover;}
.bg-center	{background-position: center};
.bg-transparent	{background-color: transparent;}

.line-through	{text-decoration: line-through;}

.border	{border-width: 1px;}
.border-t	{border-top-width: 1px;}
.border-b	{border-bottom-width: 1px;}
.border-0 {border-width:0px;}
.border-2 {border-width:2px;}
.border-7	{border-width: 7px;}
.border-solid	{border-style: solid;}
.border-r-2	{border-right-width: 2px;}


.hidden	{display: none;}



.underline	{text-decoration: underline;}
.line-through	{text-decoration: line-through;}
.no-underline	{text-decoration: none;}

.select-none	{user-select: none;}


.fixed	{position: fixed;}
.absolute	{position: absolute;}
.relative	{position: relative;}



.w-8	{width: 2rem;}
.h-8	{height: 2rem;}


.w-20	{width: 5rem;}
.h-20	{height: 5rem;}

.w-96	{width: 24rem;}
.max-w-xs	{max-width: 20rem;}


.top-0	{top: 0px;}
.left-0	{left: 0px;}
.right-0	{right: 0px;}
.bottom-0	{bottom: 0px;}

.top-1	{top: 0.25rem;}
.right-1	{right: 0.25rem;}
.bottom-1	{bottom: 0.25rem;}
.left-1	{left: 0.25rem;}


.top-2	{top: 0.5rem;}
.right-2	{right: 0.5rem;}
.bottom-2	{bottom: 0.5rem;}
.left-2	{left: 0.5rem;}

.bottom-14	{bottom: 3.5rem;}


.-top-20	{top: -5rem;}

.z-0	{z-index: 0;}
.z-10	{z-index: 10;}
.z-20	{z-index: 20;}
.z-30	{z-index: 30;}
.z-40	{z-index: 40;}
.z-50	{z-index: 50;}
.z-auto	{z-index: auto;}


.shadow{ box-shadow: 0px 1px 7px -4px grey;}



/* Custom Classes */
.ratio-square {aspect-ratio: 1;}
.flex-center {display:flex; align-items:center; justify-content:center;}